.accessible-datepicker .datepicker {
    margin-top: 1em;
    position: relative;
}

.accessible-datepicker .datepicker .group input {
    display: inline-block;
    position: relative;
}

.accessible-datepicker .datepicker button.icon {
    position: relative;
    top: 9px;
    margin: 0;
    padding: 4px;
    border: 0 solid #005a9c;
    background-color: white !important;
    border-radius: 5px;
}

.accessible-datepicker .datepicker button.icon img.calendar-img {
    width: 24px;
    height: 28px;
    display: block;
}

.accessible-datepicker .datepicker button.icon:focus {
    outline: none;
    padding: 2px;
    border-width: 2px;
    background-color: #def;
}

.accessible-datepicker-dialog.datepicker-dialog {
    position: absolute;
    width: 326px;
    clear: both;
    border: 3px solid hsl(216deg 80% 51%);
    margin-top: 0.15em;
    border-radius: 5px;
    padding: 0;
    background-color: #fff;
}

.accessible-datepicker-dialog.datepicker-dialog .header {
    cursor: default;
    background-color: hsl(216deg 80% 51%);
    padding: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-around;
}

.accessible-datepicker-dialog.datepicker-dialog h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1em;
    color: white;
    text-transform: none;
    font-weight: bold;
}

.accessible-datepicker-dialog.datepicker-dialog button {
    border-style: none;
    background: transparent;
}

.accessible-datepicker-dialog.datepicker-dialog button::-moz-focus-inner {
    border: 0;
}

.accessible-datepicker-dialog.datepicker-dialog button img.arrow-img {
    height: 14px;
    display: block;
}

.accessible-datepicker-dialog.datepicker-dialog .dates {
    width: 320px;
}

.accessible-datepicker-dialog.datepicker-dialog .prev-year, .accessible-datepicker-dialog.datepicker-dialog .prev-month, .accessible-datepicker-dialog.datepicker-dialog .next-month, .accessible-datepicker-dialog.datepicker-dialog .next-year {
    padding: 4px;
    width: 24px;
    height: 24px;
    color: white;
}

.accessible-datepicker-dialog.datepicker-dialog .prev-year:focus, .accessible-datepicker-dialog.datepicker-dialog .prev-month:focus, .accessible-datepicker-dialog.datepicker-dialog .next-month:focus, .accessible-datepicker-dialog.datepicker-dialog .next-year:focus {
    padding: 2px;
    border: 2px solid white;
    border-radius: 4px;
    outline: 0;
}

.accessible-datepicker-dialog.datepicker-dialog .prev-year:hover, .accessible-datepicker-dialog.datepicker-dialog .prev-month:hover, .accessible-datepicker-dialog.datepicker-dialog .next-month:hover, .accessible-datepicker-dialog.datepicker-dialog .next-year:hover {
    padding: 3px;
    border: 1px solid white;
    border-radius: 4px;
}

.accessible-datepicker-dialog.datepicker-dialog .dialog-ok-cancel-group {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.accessible-datepicker-dialog.datepicker-dialog .dialog-ok-cancel-group button {
    padding: 6px;
    margin-left: 1em;
    width: 5em;
    background-color: hsl(216deg 80% 92%);
    font-size: 0.85em;
    color: black;
    outline: none;
    border-radius: 5px;
}

.accessible-datepicker-dialog.datepicker-dialog .dialog-button:focus {
    padding: 4px;
    border: 2px solid black;
}

.accessible-datepicker-dialog.datepicker-dialog .dialog-button:hover {
    padding: 5px;
    border: 1px solid black;
}

.accessible-datepicker-dialog.datepicker-dialog .fa-calendar-alt {
    color: hsl(216deg 89% 51%);
}

.accessible-datepicker-dialog.datepicker-dialog .month-year {
    display: inline-block;
    width: 12em;
    text-align: center;
    line-height: 3em;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates th, .accessible-datepicker-dialog.datepicker-dialog table.dates td {
    text-align: center;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td {
    padding: 3px;
    margin: 0;
    line-height: inherit;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 15px;
    background: #eee;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td.disabled {
    padding: 2px;
    border: none;
    height: 41px;
    width: 41px;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td:focus, .accessible-datepicker-dialog.datepicker-dialog table.dates td:hover {
    padding: 0;
    background-color: hsl(216deg 80% 92%);
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td:focus {
    padding: 1px;
    border: 2px solid rgb(100 100 100);
    outline: 0;
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td:not(.disabled):hover {
    padding: 2px;
    border: 1px solid rgb(100 100 100);
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td[aria-selected] {
    padding: 1px;
    border: 2px dotted rgb(100 100 100);
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td[aria-selected]:focus {
    padding: 1px;
    border: 2px solid rgb(100 100 100);
}

.accessible-datepicker-dialog.datepicker-dialog table.dates td[tabindex="0"] {
    background-color: hsl(216deg 80% 51%);
    color: white;
}

.accessible-datepicker-dialog.datepicker-dialog .dialog-message {
    padding-top: 0.25em;
    padding-left: 1em;
    height: 1.75em;
    background: hsl(216deg 80% 51%);
    color: white;
}
